
.container-fluid{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 1px solid black;
}
.buttn{
    margin : 15px ;
}
.teaxtarea{
    width: 100%;
     max-width: 100%
}
.highlight {
    background-color: yellow;
  }